<nav class="navbar navbar-expand navbar-dark bg-primary sticky-top">
  <h2 class="navbar-brand mx-auto">Insurance Member Portal</h2>
</nav>
&nbsp;
&nbsp;
<div class="container">
    <div class="cards-container">
      <div class="cards-form">
        <!-- <form #f="ngForm" (ngSubmit)="onSubmit()"> -->
          <form
          name="form"
          (ngSubmit)="f.form.valid && onSubmit()"
          #f="ngForm"
          validate
        >
            <div class="form-group">
                <label for="firstname">FirstName</label>
                <input
                  type="text"
                  class="form-control"
                  name="firstname"
                  [(ngModel)]="mr.firstName"
                  required
                  minlength="3"
                  maxlength="20"
                  #firstname="ngModel"
                />
                <div class="alert-danger" *ngIf="f.submitted && firstname.invalid">
                  <div style="Color:red" *ngIf="firstname.errors?.['required']">Firstname is required</div>
                </div>
              </div>
              <div class="form-group">
                <label for="lastname">LastName</label>
                <input
                  type="text"
                  class="form-control"
                  name="lastname"
                  [(ngModel)]="mr.lastName"
                  required
                  minlength="3"
                  maxlength="20"
                  #lastname="ngModel"
                />
                <div class="alert-danger" *ngIf="f.submitted && lastname.invalid">
                  <div style="Color:red" *ngIf="lastname.errors?.['required']">Lastname is required</div>
                </div>
              </div>
              <div class="form-group">
                <label for="username">UserName</label>
                <input
                  type="text"
                  class="form-control"
                  name="username"
                  [(ngModel)]="mr.userName"
                  required
                  minlength="3"
                  maxlength="20"
                  #username="ngModel"
                />
                <div class="alert-danger" *ngIf="f.submitted && username.invalid">
                  <div style="Color:red" *ngIf="username.errors?.['required']">Username is required</div>
                </div>
              </div>
              <div class="form-group">
                <label for="dob">DateofBirth</label>
                <input
                  type="date"
                  class="form-control"
                  name="dob"
                  [(ngModel)]="mr.DateofBirth"
                  required
                  #dob="ngModel"
                />
                <div class="alert-danger" *ngIf="f.submitted && dob.invalid">
                  <div style="Color:red" *ngIf="dob.errors?.['required']">Date of Birth is required</div>
                </div>
              </div>
              <div class="form-group">
                <label for="add">Address</label>
                <input
                  type="text"
                  class="form-control"
                  name="add"
                  [(ngModel)]="mr.address"
                  required
                  minlength="3"
                  maxlength="20"
                  #add="ngModel"
                />
                <div class="alert-danger" *ngIf="f.submitted && add.invalid">
                  <div style="Color:red" *ngIf="add.errors?.['required']">Address is required</div>
                </div>
              </div>
              <div class="form-group">
                <label for="states">State</label>
                <select 
                    class="form-control" 
                    name="states"
                    [(ngModel)]="mr.state"
                    required
                    #states="ngModel">
                    <option value="Admin">Andhra Pradesh</option>
                    <option value="Member">Telangana</option>
                    <option value="Member">Tamilnadu</option>
                    <option value="Member">Chennai</option>
                    </select>
                <div class="alert-danger" *ngIf="f.submitted && states.invalid">
                  <div style="Color:red" *ngIf="states.errors?.['required']">State is required</div>
                </div>
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input
                  type="email"
                  class="form-control"
                  name="email"
                  [(ngModel)]="mr.email"
                  required
                  #email="ngModel"
                />
                <div class="alert-danger" *ngIf="f.submitted && email.invalid">
                  <div style="Color:red" *ngIf="email.errors?.['required']">Email is required</div>
                </div>
              </div>
              <div class="form-group">
                <button class="btn btn-primary btn-block" (click)="onSubmit()">Register</button>
              </div>
        </form>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
