<nav class="navbar navbar-expand navbar-dark bg-primary sticky-top">
  <h2 class="navbar-brand mx-auto">Insurance Member Portal</h2>
</nav>
&nbsp;
&nbsp;
<div class="container-fluid">
    <div class="row">
      <div class="col-md-4"></div>
        <div class="col-md-5">
          <div class="card">
            <div class="card-header">
          <h4 style="Color:red">Admin Search</h4>
          <form #f="ngForm" (ngSubmit)="onSubmit()" class="form-horizontal">
            <div class="card-body">
            <div class="form-group row">
              <label class="col-sm-3 col=form-label" for="mid">MemberID</label>
              <div class="col-sm-9">
              <input
                type="text"
                class="form-control"
                name="mid"
                [(ngModel)]="member.memberId"
                required
                #mid="ngModel"
              />
            </div>
              <div style="Color:red" *ngIf="mid.errors?.['required'] && mid.touched" class="text-danger">MemberId Required.</div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col=form-label" for="firstname">FirstName</label>
              <div class="col-sm-9">
              <input
                type="text"
                class="form-control"
                name="firstname"
                [(ngModel)]="member.firstName"
                required
                #firstname="ngModel"
              />
            </div>
              <div style="Color:red" *ngIf="firstname.errors?.['required'] && firstname.touched" class="text-danger">FirstName Required.</div>
            </div>
         
            <div class="form-group row">
                <label class="col-sm-3 col=form-label" for="lastname">LastName</label>
                <div class="col-sm-9">
                <input
                  type="text"
                  class="form-control"
                  name="lastname"
                  [(ngModel)]="member.lastName"
                  required
                  #lastname="ngModel"
                />
              </div>
                <div style="Color:red" *ngIf="lastname.errors?.['required'] && lastname.touched" class="text-danger">LastName Required.</div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col=form-label" for="policystatus">PolicyStatus</label>
                <div class="col-sm-9">
                <select 
                class="form-control" 
                name="policystatus"
                [(ngModel)]="member.policyStatus"
                required
                #policystatus="ngModel">
                <option value="Freelookup">Freelookup</option>
                <option value="Active">Active</option>
                <option value="Lapsed">Lapsed</option>
                <option value="Surrendered">Surrendered</option>
                <option value="Claimed">Claimed</option>
                <option value="Loan">Loan</option>
                </select>
              </div>
                <div class="alert-danger" *ngIf="f.submitted && policystatus.invalid">
                  <!-- <div style="Color:red" *ngIf="policystatus.errors?.['required']">Policy Status is required</div> -->
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col=form-label" for="pid">PolicyID</label>
                <div class="col-sm-9">
                <input
                  type="text"
                  class="form-control"
                  name="pid"
                  [(ngModel)]="member.policyId"
                  required
                  #pid="ngModel"
                />
              </div>
                <!-- <div style="Color:red" *ngIf="pid.errors?.['required'] && pid.touched" class="text-danger">PolicyID Required.</div> -->
              </div>
        <div class="form-group">
            
        </div>
        <div class="form-group">
          <button style="background-color: blue;"  class="btn btn-primary btn-block" (click)="onSubmit()">Search</button>
        </div>
      </div>
          </form>
        </div>
        </div>
        </div>
    <div class="row" *ngIf = 'members[0]!="No user found" '>
        <div class="table table-responsive" id="user" >
            <div class="table-responsive" >
                <table class="table table-striped border" *ngFor="let ss of members" >
                    <thead >
                    <tr class="table-secondary">
                        <th>MemberID</th>
                        <th>PolicyID</th>
                        <th>UserName</th>
                        <th>FirstName</th>
                        <th>LastName</th>
                        <th>PolicyStatus</th>
                        <th>PolicyType</th>
                        <th>PremiumAmount</th>
                        <th>Select Member</th>
                        <th>Select Policy</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor = "let member of ss">
                        <td> {{member["memberId"]}} </td>
                        <td> {{member["policyId"]}} </td>
                        <td> {{member.userName}} </td>
                        <td> {{member.firstName}} </td>
                        <td>{{member.lastName}} </td>
                        <td>{{member.policyStatus}} </td>
                        <td>{{member.policyType}} </td>
                        <td>{{member.premiumAmount}} </td>
                        <td> <input type="checkbox" value="add" id="add" (click)="onRedirect(member)" /></td>
                        <td><input type ="checkbox" value="updates"  id="updates"  (click)="updatepolicy(member)" /> </td>
                    </tr>
                </tbody>
                <div class="form-group">
                  <button *ngIf="add" class="btn btn-primary btn-block" (click)="onaddpolicy()">Add Policy</button>
                  <button *ngIf="update" class="btn btn-primary btn-block" (click)="onupdatepolicy()">Update  Policy</button>
                </div>
                </table>
            </div>
        </div>
        
    </div>
    <div class="row" *ngIf = 'members[0]=="No user found" '>
      <span style="color: red;">No records found for given inputs</span>
    </div>
   
    </div>
  </div>
  
